@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Montserrat, sans-serif;
}

.epoq-rs-headline {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3rem;
    padding-top: 3rem;
}

.justify-between {
    height: auto;
}