@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.epoq-rs-headline {
    text-align: center;
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    text-transform: uppercase;
    font-weight: 700;
    padding: 4rem;
}

.epoq-widget-content.epoq-recommendations-homepage.epoq-rs-widget-homepage-alternatives {
    margin-bottom: 7rem;
}